<select onchange="setSearchParam('Fsq', this.value)">
<% teams.forEach(team => { %>
  <option
    value="<%= team.id %>"
    <%= req.query.Fsq == team.id ? 'selected' : '' %>><%= team.name %></option>
<% }) %>
</select>