<footer class="footer">
  <div class="content has-text-centered">
    <small>
      Copyright © <%= new Date().getFullYear() %> Fantalega LOFE · Tutti i diritti riservati ·
      <a class="navlink has-text-info" href="mailto:info@legalofe.com">Webmaster</a> ·
      v<%= sails.helpers.getAppVersion() %>
    </small>
  </div>
</footer>