<div id="edit-password" v-cloak>
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <div class="box">
        <h1 class="is-size-2 has-text-centered">Cambia la tua passrowd</h1>

        <hr/>

        <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
          <div class="field">
            <label class="label">Nuova password</label>

            <div class="control">
              <input class="input" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
            </div>

            <p class="help is-danger" v-if="formErrors.password">Please enter a password or choose "Cancel".</p>
          </div>

          <div class="field">
            <label class="label">Conferma nuova password</label>

            <div class="control">
              <input class="input" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" autocomplete="new-password" placeholder="••••••••">
            </div>

            <p class="help is-danger" v-if="formErrors.confirmPassword">Your new password and confirmation do not match.</p>
          </div>

          <p class="has-text-danger" v-if="cloudError">
            Si è verificato un errore, per favore riprova.
          </p>

          <div class="has-text-right">
            <a class="button is-text" href="/account">Annulla</a>
            <ajax-button type="submit" :syncing="syncing" class="button is-link">
              Cambia password
            </ajax-button>
          </div>
        </ajax-form>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
